.funny-glasses { position: relative;
    left: 13.4em;
    bottom: 6.7em;
}
.bandana {
    position: absolute;
    top: 11em;
    left: 7em;
}
.pawprint {
    Position: fixed;
    top: 3em;
    left: 4em;
}
.luna { 
    position: sticky;
    left:0px;
}

.top-hat {
    z-index: 1;

}